.background-login {
	background-color: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-login {
    background-color: var(--gray-700);
    width: 90%;
    max-width: 79rem;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
	z-index: 1;
}

.container-login img {
    width: 10rem;
    object-fit: cover;
}

.background-line {
	background-color: var(--gray-500);
    height: 25rem;
    width: 100vw;
    position: absolute;
}

.container-form {
	background-color: var(--gray-600);
    padding: 4rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
	min-width: 20rem;
}

.title-form {
    color: var(--white);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-form {
    background-color: var(--gray-700);
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 0;
    border: none;
    transition: 200ms;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.submit-form:hover {
    filter: drop-shadow(0.2rem 0.3rem 0.4rem var(--gray-700) );
}

@media screen and (max-width: 800px) {
    .image-form {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .container-form {
        min-width: auto;
        width: 90%;
    }
}