:root {
    --white: #FFFFFF;

    --gray-100: #D1D5D7;
    --gray-300: #7F83A2
    --gray-500: #505E68;
    --gray-600: #364F5E;
    --gray-700: #1A3140;
    
    --red-500: #E53B3B;

    --blue-500: #007bff;
    --blue-700: #153252;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}